/* You can add global styles to this file, and also import other style files */

.container {
    max-width: 500px;
}
.button-group {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    gap: 10px;
}

.btn {
    border: 1px solid #333;
    background-color: rgb(67, 70, 219);
    padding: 10px;
    border-radius: 4px;
    color: white;
}